{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "block-scoped-var": 0,
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "camelcase": 0,
    "comma-style": [2, "last"],
    "comma-dangle": [2, "never"],
    "complexity": [1, 10],
    "computed-property-spacing": [2, "never"],
    "consistent-return": 0,
    "eqeqeq": 2,
    "guard-for-in": 2,
    //"indent": [2, 2, { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "key-spacing": 0,
    "keyword-spacing": [2, { "before": true, "after": true, "overrides": {} }],
    "max-len": [1, 80, 2, { "ignoreUrls": true }],
    "max-nested-callbacks": [2, 3],
    "max-params": [1, 4],
    "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
    "no-bitwise": 2,
    "no-caller": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-eq-null": 2,
    "no-extra-semi": 2,
    "no-floating-decimal": 2,
    "no-irregular-whitespace": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-lonely-if": 2,
    "no-multi-spaces": 0,
    "no-multiple-empty-lines": 1,
    "no-nested-ternary": 2,
    "no-regex-spaces": 2,
    "no-return-assign": 2,
    "no-unreachable": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-underscore-dangle": 0,
    "no-var": 1,
    "no-void": 2,
    "no-with": 2,
    //"object-shorthand": [2, "methods"],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "after"],
    "padded-blocks": [2, "never"],
    "prefer-const": 2,
    "quotes": [2, "single", "avoid-escape"],
    "radix": 2,
    "semi": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "space-in-parens": [2, "never"],
    "use-isnan": 2,
    "valid-jsdoc": [2, {
      "prefer": { "returns": "return" },
      "requireParamDescription": false,
      "requireReturn": false,
      "requireReturnDescription": false
    }],
    "valid-typeof": 2,
    "wrap-iife": [2, "outside"],
    "yoda": 2
  }
}

